In [142]:
import pandas as pd
import numpy as np
import os

In [143]:
pwd = os.getcwd()

In [144]:
toyota = pd.read_excel(pwd + "\\Car_Selection_2021.xlsx", sheet_name = "Toyota")
honda = pd.read_excel(pwd + "\\Car_Selection_2021.xlsx", sheet_name = "Honda")
subaru = pd.read_excel(pwd + "\\Car_Selection_2021.xlsx", sheet_name = "Subaru")
mazda = pd.read_excel(pwd + "\\Car_Selection_2021.xlsx", sheet_name = "Mazda")
nissan = pd.read_excel(pwd + "\\Car_Selection_2021.xlsx", sheet_name = "Nissan")
ford = pd.read_excel(pwd + "\\Car_Selection_2021.xlsx", sheet_name = "Ford")
chevrolet = pd.read_excel(pwd + "\\Car_Selection_2021.xlsx", sheet_name = "Chevrolet")
kia = pd.read_excel(pwd + "\\Car_Selection_2021.xlsx", sheet_name = "Kia")
lexus = pd.read_excel(pwd + "\\Car_Selection_2021.xlsx", sheet_name = "Lexus")
mercedes = pd.read_excel(pwd + "\\Car_Selection_2021.xlsx", sheet_name = "Mercedes-Benz")

In [145]:
toyota_mod = toyota.copy()
honda_mod = honda.copy()
subaru_mod = subaru.copy()
mazda_mod = mazda.copy()
nissan_mod = nissan.copy()
ford_mod = ford.copy()
chevrolet_mod = chevrolet.copy()
kia_mod = kia.copy()
lexus_mod = lexus.copy()
mercedes_mod = mercedes.copy()

In [146]:
columns_to_drop = ['Net Torque', 'Turning Diameter (ft)', 'Transmission', 'MPGe (combined)', 'MPGe (city)', 'MPGe (highway)', 'Electricity Range (mi)', 'KWh/100 Mi']

In [147]:
toyota_mod.drop(columns_to_drop, inplace = True, axis = 1)
honda_mod.drop(columns_to_drop, inplace = True, axis = 1)
subaru_mod.drop(columns_to_drop, inplace = True, axis = 1)
mazda_mod.drop(columns_to_drop, inplace = True, axis = 1)
nissan_mod.drop(columns_to_drop, inplace = True, axis = 1)
ford_mod.drop(columns_to_drop, inplace = True, axis = 1)
chevrolet_mod.drop(columns_to_drop, inplace = True, axis = 1)
kia_mod.drop(columns_to_drop, inplace = True, axis = 1)
lexus_mod.drop(columns_to_drop, inplace = True, axis = 1)
mercedes_mod.drop(columns_to_drop, inplace = True, axis = 1)

In [148]:
chevrolet_mod.head()

,Name,Year,EPA Classification,Drivetrain,MPG (combined),MPG (city),MPG (highway),MSRP,Engine Type,Engine Size (Liters),Cylinder Layout,Horsepower,Curb Weight (lbs),Fuel Tank (gal)
0,Chevrolet Camaro coupe (1LS),2021,Subcompact Cars,RWD,23,20,30,26195,Gas,2.0,I-4 w/ Turbo,275,3351.0,19.0
1,Chevrolet Camaro coupe (1LT),2021,Subcompact Cars,RWD,23,20,30,26695,Gas,2.0,I-4 w/ Turbo,275,3354.0,19.0
2,Chevrolet Camaro coupe (2LT),2021,Subcompact Cars,RWD,23,20,30,28695,Gas,2.0,I-4 w/ Turbo,275,3374.0,19.0
3,Chevrolet Camaro coupe (3LT),2021,Subcompact Cars,RWD,23,20,30,32695,Gas,2.0,I-4 w/ Turbo,275,3374.0,19.0
4,Chevrolet Camaro coupe (LT1),2021,Subcompact Cars,RWD,19,16,24,35195,Gas,6.2,V-8,455,3619.0,19.0

In [149]:
# fun cell to count number of cars in a specific classification for Toyota
count = toyota_mod[toyota_mod["EPA Classification"].notna()]
count = count.groupby(["EPA Classification"])["Name"].nunique().reset_index()
count.rename(columns = {"Name" : "Number of Cars"}, inplace = True)
count

  EPA Classification  Number of Cars
0       Compact Cars              16
1       Midsize Cars              37
2   Minicompact Cars               6
3       Minivans 2WD               5
4       Minivans 4WD               5
5    Subcompact Cars               2
6        Two Seaters               4

In [150]:
combined = pd.concat([toyota_mod, honda_mod, subaru_mod, mazda_mod, nissan_mod, ford_mod, chevrolet_mod, kia_mod, lexus_mod, mercedes_mod])

In [151]:
combined_mod = combined.copy()

In [152]:
# checks for empty strings and replaces with NaN
combined_mod.replace(r'^\s*$', np.nan, regex = True, inplace = True)

In [153]:
combined_mod

,Name,Year,EPA Classification,Drivetrain,MPG (combined),MPG (city),MPG (highway),MSRP,Engine Type,Engine Size (Liters),Cylinder Layout,Horsepower,Curb Weight (lbs),Fuel Tank (gal)
0,Toyota Prius Prime (LE),2021,Midsize Cars,FWD,54.0,55.0,53.0,29215,Gas/Electric,1.8,I-4,121.0,3365.0,11.4
1,Toyota Prius Prime (XLE),2021,Midsize Cars,FWD,54.0,55.0,53.0,30995,Gas/Electric,1.8,I-4,121.0,3375.0,11.4
2,Toyota Prius Prime (Limited),2021,Midsize Cars,FWD,54.0,55.0,53.0,34995,Gas/Electric,1.8,I-4,121.0,3375.0,11.4
3,Toyota Prius (L Eco),2021,Midsize Cars,FWD,56.0,58.0,53.0,25520,Gas/Electric,1.8,I-4,121.0,3010.0,11.3
4,Toyota Prius (LE),2021,Midsize Cars,FWD,52.0,54.0,50.0,26730,Gas/Electric,1.8,I-4,121.0,3040.0,11.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,Mercedes-Benz GLE 350 4MATIC SUV,2021,Small SUV 4WD,AWD,22.0,19.0,26.0,58300,Premium Unleaded,2.0,I-4 w/ Turbo,255.0,4718.0,22.5
33,Mercedes-Benz GLE 450 4MATIC SUV,2021,Small SUV 4WD,AWD,23.0,21.0,26.0,63550,Gas/Electric,3.0,I-6 w/ Turbo,362.0,5013.0,22.5
34,Mercedes-Benz GLE 580 4MATIC SUV,2021,Small SUV 4WD,AWD,19.0,17.0,22.0,79950,Gas/Electric,4.0,V-8 w/ Twin Turbo,483.0,NaN,22.5
35,Mercedes-Benz GLS 450 4MATIC SUV,2021,NaN,AWD,21.0,20.0,24.0,77050,Gas/Electric,3.0,I-6 w/ Turbo,362.0,NaN,23.8
36,Mercedes-Benz GLS 580 4MATIC SUV,2021,NaN,AWD,18.0,16.0,21.0,99900,Gas/Electric,4.0,V-8 w/ Twin Turbo,483.0,NaN,23.8

In [154]:
class_count = combined_mod.groupby(["EPA Classification"])["Name"].nunique().reset_index()
class_count.rename(columns = {"Name" : "Number of Cars"}, inplace = True)
class_count

             EPA Classification  Number of Cars
0                  Compact Cars              54
1                    Large Cars              30
2                  Midsize Cars             131
3              Minicompact Cars               9
4                  Minivans 2WD              10
5                  Minivans 4WD               5
6                 Small SUV 2WD              49
7                 Small SUV 4WD              83
8          Small Station Wagons               9
9   Special Purpose Vehicle 2WD               4
10       Sport Utility Vehicles               4
11             Standard SUV 2WD               3
12             Standard SUV 4WD              10
13              Subcompact Cars              52
14                  Two Seaters              30

In [155]:
drivetrain_count = combined_mod.groupby(["Drivetrain"])["Name"].nunique().reset_index()
drivetrain_count.rename(columns = {"Name" : "Number of Cars"}, inplace = True)
drivetrain_count

  Drivetrain  Number of Cars
0        4WD              69
1        AWD             186
2        FWD             220
3        RWD             143

In [156]:
engine_count = combined_mod.groupby(["Engine Type"])["Name"].nunique().reset_index()
engine_count.rename(columns = {"Name" : "Number of Cars"}, inplace = True)
engine_count

        Engine Type  Number of Cars
0          Electric               8
1               Gas              31
2      Gas/Electric              72
3  Premium Unleaded             167
4  Regular Unleaded             341

In [157]:
cylinder_count = combined_mod.groupby(["Cylinder Layout"])["Name"].nunique().reset_index()
cylinder_count.rename(columns = {"Name" : "Number of Cars"}, inplace = True)
cylinder_count

       Cylinder Layout  Number of Cars
0                  H-4              34
1         H-4 w/ Turbo              18
2                  I-3               4
3         I-3 w/ Turbo              11
4                  I-4             186
5         I-4 w/ Turbo             149
6         I-6 w/ Turbo              13
7                  V-6              95
8         V-6 w/ Turbo               4
9    V-6 w/ Twin Turbo              36
10                 V-8              53
11  V-8 w/ Supercharge               1
12        V-8 w/ Turbo               2
13   V-8 w/ Twin Turbo               4

In [158]:
combined_mod

,Name,Year,EPA Classification,Drivetrain,MPG (combined),MPG (city),MPG (highway),MSRP,Engine Type,Engine Size (Liters),Cylinder Layout,Horsepower,Curb Weight (lbs),Fuel Tank (gal)
0,Toyota Prius Prime (LE),2021,Midsize Cars,FWD,54.0,55.0,53.0,29215,Gas/Electric,1.8,I-4,121.0,3365.0,11.4
1,Toyota Prius Prime (XLE),2021,Midsize Cars,FWD,54.0,55.0,53.0,30995,Gas/Electric,1.8,I-4,121.0,3375.0,11.4
2,Toyota Prius Prime (Limited),2021,Midsize Cars,FWD,54.0,55.0,53.0,34995,Gas/Electric,1.8,I-4,121.0,3375.0,11.4
3,Toyota Prius (L Eco),2021,Midsize Cars,FWD,56.0,58.0,53.0,25520,Gas/Electric,1.8,I-4,121.0,3010.0,11.3
4,Toyota Prius (LE),2021,Midsize Cars,FWD,52.0,54.0,50.0,26730,Gas/Electric,1.8,I-4,121.0,3040.0,11.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,Mercedes-Benz GLE 350 4MATIC SUV,2021,Small SUV 4WD,AWD,22.0,19.0,26.0,58300,Premium Unleaded,2.0,I-4 w/ Turbo,255.0,4718.0,22.5
33,Mercedes-Benz GLE 450 4MATIC SUV,2021,Small SUV 4WD,AWD,23.0,21.0,26.0,63550,Gas/Electric,3.0,I-6 w/ Turbo,362.0,5013.0,22.5
34,Mercedes-Benz GLE 580 4MATIC SUV,2021,Small SUV 4WD,AWD,19.0,17.0,22.0,79950,Gas/Electric,4.0,V-8 w/ Twin Turbo,483.0,NaN,22.5
35,Mercedes-Benz GLS 450 4MATIC SUV,2021,NaN,AWD,21.0,20.0,24.0,77050,Gas/Electric,3.0,I-6 w/ Turbo,362.0,NaN,23.8
36,Mercedes-Benz GLS 580 4MATIC SUV,2021,NaN,AWD,18.0,16.0,21.0,99900,Gas/Electric,4.0,V-8 w/ Twin Turbo,483.0,NaN,23.8

In [159]:
output = combined_mod.copy()
output.to_excel(pwd + "\\Cleaned_Dataset.xlsx", index = False)